
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
target/
.idea/

.hg/00changelog.i
.hg/bookmarks
.hg/branch
.hg/cache/branchheads-served
.hg/cache/tags
.hg/cur-message.txt
.hg/dirstate
.hg/hgrc
.hg/last-message.txt
.hg/requires
.hg/store/00changelog.i
.hg/store/00manifest.i
.hg/store/data/~2eclasspath.i
.hg/store/data/~2egitignore.i
.hg/store/data/~2ehgignore.i
.hg/store/data/~2ehgtags.i
.hg/store/data/~2eidea/~2ename.i
.hg/store/data/~2eidea/artifacts/flatserver__war.xml.i
.hg/store/data/~2eidea/artifacts/flatserver__war__exploded.xml.i
.hg/store/data/~2eidea/compiler.xml.i
.hg/store/data/~2eidea/copyright/profiles__settings.xml.i
.hg/store/data/~2eidea/encodings.xml.i
.hg/store/data/~2eidea/libraries/_maven____aopalliance__aopalliance__1__0.xml.i
.hg/store/data/~2eidea/libraries/_maven____ch__qos__logback__logback__classic__1__1__3.xml.i
.hg/store/data/~2eidea/libraries/_maven____ch__qos__logback__logback__core__1__1__3.xml.i
.hg/store/data/~2eidea/libraries/_maven____com__alibaba__fastjson__1__1__37.xml.i
.hg/store/data/~2eidea/libraries/_maven____com__belerweb__pinyin4j__2__5__0.xml.i
.hg/store/data/~2eidea/libraries/_maven____com__fasterxml__classmate__1__0__0.xml.i
.hg/store/data/~2eidea/libraries/_maven____com__fasterxml__jackson__core__jackson__annotations__2__4__6.xml.i
.hg/store/data/~2eidea/libraries/_maven____com__fasterxml__jackson__core__jackson__core__2__4__6.xml.i
.hg/store/data/~2eidea/libraries/_maven____com__fasterxml__jackson__core__jackson__databind__2__4__6.xml.i
.hg/store/data/~2eidea/libraries/_maven____com__kedacom__uc__sdk__uc__sdk__2__0.xml.i
.hg/store/data/~2eidea/libraries/_maven____com__oracle__ojdbc14__10__2__0__4__0.xml.i
.hg/store/data/~2eidea/libraries/_maven____com__spatial4j__spatial4j__0__4__1.xml.i
.hg/store/data/~2eidea/libraries/_maven____commons__codec__commons__codec__1__9.xml.i
.hg/store/data/~2eidea/libraries/_maven____javax__validation__validation__api__1__1__0___final.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__antlr__antlr__runtime__3__5.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__apache__commons__commons__pool2__2__2.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__apache__httpcomponents__httpcore__4__4__4.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__apache__lucene__lucene__analyzers__common__4__10__4.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__apache__lucene__lucene__core__4__10__4.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__apache__lucene__lucene__grouping__4__10__4.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__apache__lucene__lucene__highlighter__4__10__4.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__apache__lucene__lucene__join__4__10__4.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__apache__lucene__lucene__memory__4__10__4.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__apache__lucene__lucene__misc__4__10__4.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__apache__lucene__lucene__queries__4__10__4.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__apache__lucene__lucene__queryparser__4__10__4.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__apache__lucene__lucene__sandbox__4__10__4.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__apache__lucene__lucene__spatial__4__10__4.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__apache__lucene__lucene__suggest__4__10__4.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__apache__tomcat__embed__tomcat__embed__core__8__0__23.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__apache__tomcat__embed__tomcat__embed__el__8__0__23.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__apache__tomcat__embed__tomcat__embed__logging__juli__8__0__23.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__apache__tomcat__embed__tomcat__embed__websocket__8__0__23.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__elasticsearch__elasticsearch__1__7__0.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__freemarker__freemarker__2__3__22.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__hibernate__hibernate__validator__5__1__3___final.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__jboss__logging__jboss__logging__3__1__3___g_a.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__mybatis__mybatis__3__2__7.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__mybatis__mybatis__spring__1__1__0.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__ow2__asm__asm__4__1.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__ow2__asm__asm__commons__4__1.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__slf4j__jcl__over__slf4j__1__7__12.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__slf4j__jul__to__slf4j__1__7__12.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__slf4j__log4j__over__slf4j__1__7__12.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__slf4j__slf4j__api__1__7__12.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__springframework__boot__spring__boot__1__2__5___r_e_l_e_a_s_e.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__springframework__boot__spring__boot__autoconfigure__1__2__5___r_e_l_e_a_s_e.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__springframework__boot__spring__boot__starter__1__2__5___r_e_l_e_a_s_e.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__springframework__boot__spring__boot__starter__web__1__2__5___r_e_l_e_a_s_e.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__springframework__spring__aop__4__1__7___r_e_l_e_a_s_e.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__springframework__spring__beans__4__1__7___r_e_l_e_a_s_e.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__springframework__spring__context__4__1__7___r_e_l_e_a_s_e.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__springframework__spring__context__support__4__1__7___r_e_l_e_a_s_e.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__springframework__spring__core__4__1__7___r_e_l_e_a_s_e.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__springframework__spring__expression__4__1__7___r_e_l_e_a_s_e.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__springframework__spring__jdbc__4__1__7___r_e_l_e_a_s_e.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__springframework__spring__tx__4__1__7___r_e_l_e_a_s_e.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__springframework__spring__web__4__1__7___r_e_l_e_a_s_e.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__springframework__spring__webmvc__4__1__7___r_e_l_e_a_s_e.xml.i
.hg/store/data/~2eidea/libraries/_maven____org__yaml__snakeyaml__1__14.xml.i
.hg/store/data/~2eidea/libraries/_maven____redis__clients__jedis__2__8__0.xml.i
.hg/store/data/~2eidea/markdown-navigator.xml.i
.hg/store/data/~2eidea/markdown-navigator/profiles__settings.xml.i
.hg/store/data/~2eidea/misc.xml.i
.hg/store/data/~2eidea/modules.xml.i
.hg/store/data/~2eidea/scopes/scope__settings.xml.i
.hg/store/data/~2eidea/ui_designer.xml.i
.hg/store/data/~2eidea/vcs.xml.i
.hg/store/data/~2eidea/workspace.xml.i
.hg/store/data/~2eproject.i
.hg/store/data/~2esettings/~2ejsdtscope.i
.hg/store/data/~2esettings/org.eclipse.core.resources.prefs.i
.hg/store/data/~2esettings/org.eclipse.jdt.core.prefs.i
.hg/store/data/~2esettings/org.eclipse.m2e.core.prefs.i
.hg/store/data/~2esettings/org.eclipse.wst.common.component.i
.hg/store/data/~2esettings/org.eclipse.wst.common.project.facet.core.xml.i
.hg/store/data/~2esettings/org.eclipse.wst.jsdt.ui.super_type.container.i
.hg/store/data/~2esettings/org.eclipse.wst.jsdt.ui.super_type.name.i
.hg/store/data/~2esettings/org.eclipse.wst.validation.prefs.i
.hg/store/data/doc/readme.md.i
.hg/store/data/flatserver.iml.i
.hg/store/data/libs/ojdbc14-10.2.0.4.0.jar.d
.hg/store/data/libs/ojdbc14-10.2.0.4.0.jar.i
.hg/store/data/pom.xml.i
.hg/store/data/pom__patch.bat.i
.hg/store/data/src/main/java/com/keda/patrol/dao/_patrol_alarm_config_mapper.java.i
.hg/store/data/src/main/java/com/keda/patrol/dao/_patrol_alarm_info_mapper.java.i
.hg/store/data/src/main/java/com/keda/patrol/dao/_patrol_config_mapper.java.i
.hg/store/data/src/main/java/com/keda/patrol/dao/_patrol_his_task_mapper.java.i
.hg/store/data/src/main/java/com/keda/patrol/dao/_patrol_rt_task_mapper.java.i
.hg/store/data/src/main/java/com/keda/patrol/model/_patrol_alarm_config.java.i
.hg/store/data/src/main/java/com/keda/patrol/model/_patrol_alarm_info.java.i
.hg/store/data/src/main/java/com/keda/patrol/model/_patrol_config.java.i
.hg/store/data/src/main/java/com/keda/patrol/model/_patrol_his_task.java.i
.hg/store/data/src/main/java/com/keda/patrol/model/_patrol_rt_task.java.i
.hg/store/data/src/main/java/com/keda/patrol/service/_patrol_alarm_detection_task.java.i
.hg/store/data/src/main/java/com/keda/patrol/service/_patrol_line_manager.java.i
.hg/store/data/src/main/java/com/keda/patrol/service/_patrol_line_task.java.i
.hg/store/data/src/main/java/com/keda/patrol/sql/_patrol_alarm_config_mapper.xml.i
.hg/store/data/src/main/java/com/keda/patrol/sql/_patrol_alarm_info_mapper.xml.i
.hg/store/data/src/main/java/com/keda/patrol/sql/_patrol_config_mapper.xml.i
.hg/store/data/src/main/java/com/keda/patrol/sql/_patrol_his_task_mapper.xml.i
.hg/store/data/src/main/java/com/keda/patrol/sql/_patrol_rt_task_mapper.xml.i
.hg/store/data/src/main/java/com/keda/wange/biz/_content_xml.java.i
.hg/store/data/src/main/java/com/keda/wange/biz/_content_xml_convertor.java.i
.hg/store/data/src/main/java/com/keda/wange/biz/_meeting_impl.java.i
.hg/store/data/src/main/java/com/keda/wange/dao/_seq_mapper.java.i
.hg/store/data/src/main/java/com/keda/wange/dao/_wan_ge_group_no_mapper.java.i
.hg/store/data/src/main/java/com/keda/wange/dao/_wan_ge_msg_mapper.java.i
.hg/store/data/src/main/java/com/keda/wange/dao/_wan_ge_pipe_mapper.java.i
.hg/store/data/src/main/java/com/keda/wange/model/_wan_ge_group_no.java.i
.hg/store/data/src/main/java/com/keda/wange/model/_wan_ge_group_no_example.java.i
.hg/store/data/src/main/java/com/keda/wange/model/_wan_ge_msg.java.i
.hg/store/data/src/main/java/com/keda/wange/model/_wan_ge_msg_example.java.i
.hg/store/data/src/main/java/com/keda/wange/model/_wan_ge_pipe.java.i
.hg/store/data/src/main/java/com/keda/wange/model/_wan_ge_pipe_example.java.i
.hg/store/data/src/main/java/com/keda/wange/service/_meeting.java.i
.hg/store/data/src/main/java/com/keda/wange/sql/_seq_mapper.xml.i
.hg/store/data/src/main/java/com/keda/wange/sql/_wan_ge_group_no_mapper.xml.i
.hg/store/data/src/main/java/com/keda/wange/sql/_wan_ge_msg_mapper.xml.i
.hg/store/data/src/main/java/com/keda/wange/sql/_wan_ge_pipe_mapper.xml.i
.hg/store/data/src/main/java/common/_com_convert.java.i
.hg/store/data/src/main/java/common/_com_define.java.i
.hg/store/data/src/main/java/common/_common_method.java.i
.hg/store/data/src/main/java/common/_device_db_operate.java.i
.hg/store/data/src/main/java/common/_e_s_client.java.i
.hg/store/data/src/main/java/common/_es_gps_his_data.java.i
.hg/store/data/src/main/java/common/_gis_utils.java.i
.hg/store/data/src/main/java/common/_http_helper.java.i
.hg/store/data/src/main/java/common/_initialize_manager.java.i
.hg/store/data/src/main/java/common/_jedis_thread.java.i
.hg/store/data/src/main/java/common/_json_utils.java.i
.hg/store/data/src/main/java/common/_loggable_statement.java.i
.hg/store/data/src/main/java/common/_my_request_filter.java.i
.hg/store/data/src/main/java/common/_open_a_p_i___single.java.i
.hg/store/data/src/main/java/common/_pinyin4j_util.java.i
.hg/store/data/src/main/java/common/_ptt_utils.java.i
.hg/store/data/src/main/java/common/_random_g_u_i_d.java.i
.hg/store/data/src/main/java/common/_redis_util.java.i
.hg/store/data/src/main/java/common/_security.java.i
.hg/store/data/src/main/java/common/_time_helper.java.i
.hg/store/data/src/main/java/common/_value_convert.java.i
.hg/store/data/src/main/java/common/_vcs_utils.java.i
.hg/store/data/src/main/java/commoncache/_com_cache.java.i
.hg/store/data/src/main/java/commoncache/_config_cache.java.i
.hg/store/data/src/main/java/commoncache/_device_cache.java.i
.hg/store/data/src/main/java/controller/_application.java.i
.hg/store/data/src/main/java/controller/_device_controller.java.i
.hg/store/data/src/main/java/controller/_device_db_operate.java.i
.hg/store/data/src/main/java/controller/config/_filter_config.java.i
.hg/store/data/src/main/java/controller/meeting/_create_meeting_input.java.i
.hg/store/data/src/main/java/controller/meeting/_create_meeting_output.java.i
.hg/store/data/src/main/java/controller/meeting/_meeting_controller.java.i
.hg/store/data/src/main/java/dao/_device_dao.java.i
.hg/store/data/src/main/java/dao/_unit_dao.java.i
.hg/store/data/src/main/java/dao/_user_dao.java.i
.hg/store/data/src/main/java/listener/_location_manager.java.i
.hg/store/data/src/main/java/model/_device.java.i
.hg/store/data/src/main/java/model/_unit.java.i
.hg/store/data/src/main/java/model/_user.java.i
.hg/store/data/src/main/java/model/_user_position.java.i
.hg/store/data/src/main/java/sync/_sync_device_task.java.i
.hg/store/data/src/main/java/sync/_sync_device_timer.java.i
.hg/store/data/src/main/java/sync/_sync_task.java.i
.hg/store/data/src/main/java/sync/_sync_timer.java.i
.hg/store/data/src/main/java/sync/_update_device_thread_task.java.i
.hg/store/data/src/main/main.iml.i
.hg/store/data/src/main/resources/application.properties.i
.hg/store/data/src/main/resources/application.properties.orig.i
.hg/store/data/src/main/resources/application_context.xml.i
.hg/store/data/src/main/resources/generator_config.xml.i
.hg/store/data/src/main/resources/local.app.flat.xml.i
.hg/store/data/src/main/resources/local.app.properties.i
.hg/store/data/src/main/resources/local.app.wange.xml.i
.hg/store/data/src/main/resources/local.app.xml.i
.hg/store/data/src/main/resources/local.app_context.xml.i
.hg/store/data/src/main/resources/logback.xml.i
.hg/store/data/src/main/resources/mybatis-config.xml.i
.hg/store/data/src/main/resources/prd.app.flat.xml.i
.hg/store/data/src/main/resources/prd.app.properties.i
.hg/store/data/src/main/resources/prd.app.wange.xml.i
.hg/store/data/src/main/resources/prd.app.xml.i
.hg/store/data/src/main/resources/prd.app_context.xml.i
.hg/store/data/src/main/resources/sql/_device_mapper.xml.i
.hg/store/data/src/main/resources/sql/_unit_mapper.xml.i
.hg/store/data/src/main/resources/sql/_user_mapper.xml.i
.hg/store/data/src/main/resources/static/js/jquery-1.8.3.min.js.i
.hg/store/data/src/main/resources/templates/test.ftl.i
.hg/store/data/src/main/resources/templates/web.ftl.i
.hg/store/data/src/main/resources/version.txt.i
.hg/store/data/src/main/webapp/_w_e_b-_i_n_f/web.xml.i
.hg/store/data/src/script/wange.sql.i
.hg/store/dh/~2eidea/librarie/maven__org_springframework_boot_spring_boot_starter_freemacf3425014b80193a37282a8eafcc3034171388cf.i
.hg/store/dh/~2eidea/librarie/maven__org_springframework_boot_spring_boot_starter_logginb37fd5aa3ad84e7c67e55c640e817dc74289b70e.i
.hg/store/dh/~2eidea/librarie/maven__org_springframework_boot_spring_boot_starter_tomcat084c225e5012e1ed0fa482f4a45bf096a01795f9.i
.hg/store/dh/doc/vt-3~e6~95~b0~e5~ad~97~e9~9b~86~e7~be~a4~e6~8c~87~e6~8c~a5~e8~b0~83~e5~09c1bb7fb91ce8ccd1c8f983e26eb4f44c5c1a0d.d
.hg/store/dh/doc/vt-3~e6~95~b0~e5~ad~97~e9~9b~86~e7~be~a4~e6~8c~87~e6~8c~a5~e8~b0~83~e5~9858efd6d3a6bae0cb6a557631d58a05ce64d1a3.i
.hg/store/fncache
.hg/store/phaseroots
.hg/store/undo
.hg/store/undo.phaseroots
.hg/thgstatus
.hg/undo.bookmarks
.hg/undo.branch
.hg/undo.desc
.hg/undo.dirstate
.hgignore
.hgtags
