<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.keda.patrol.dao.PatrolAlarmConfigMapper" >
  <resultMap id="BaseResultMap" type="com.keda.patrol.model.PatrolAlarmConfig" >
    <result column="BJBH" property="bjbh" jdbcType="VARCHAR" />
    <result column="LXR" property="lxr" jdbcType="VARCHAR" />
    <result column="LXDH" property="lxdh" jdbcType="VARCHAR" />
    <result column="YLZD1" property="ylzd1" jdbcType="VARCHAR" />
    <result column="YLZD2" property="ylzd2" jdbcType="VARCHAR" />
    <result column="YLZD3" property="ylzd3" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.keda.patrol.model.PatrolAlarmConfig" >
    insert into B_JW_BJPZ (BJBH, LXR, LXDH, 
      YLZD1, YLZD2, YLZD3
      )
    values (#{bjbh,jdbcType=VARCHAR}, #{lxr,jdbcType=VARCHAR}, #{lxdh,jdbcType=VARCHAR}, 
      #{ylzd1,jdbcType=VARCHAR}, #{ylzd2,jdbcType=VARCHAR}, #{ylzd3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.keda.patrol.model.PatrolAlarmConfig" >
    insert into B_JW_BJPZ
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bjbh != null" >
        BJBH,
      </if>
      <if test="lxr != null" >
        LXR,
      </if>
      <if test="lxdh != null" >
        LXDH,
      </if>
      <if test="ylzd1 != null" >
        YLZD1,
      </if>
      <if test="ylzd2 != null" >
        YLZD2,
      </if>
      <if test="ylzd3 != null" >
        YLZD3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bjbh != null" >
        #{bjbh,jdbcType=VARCHAR},
      </if>
      <if test="lxr != null" >
        #{lxr,jdbcType=VARCHAR},
      </if>
      <if test="lxdh != null" >
        #{lxdh,jdbcType=VARCHAR},
      </if>
      <if test="ylzd1 != null" >
        #{ylzd1,jdbcType=VARCHAR},
      </if>
      <if test="ylzd2 != null" >
        #{ylzd2,jdbcType=VARCHAR},
      </if>
      <if test="ylzd3 != null" >
        #{ylzd3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>